.rmdcaution, .rmdimportant, .rmdnote, .rmdtip, .rmdwarning {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
}
.rmdcaution {
  background-image: url("../images/caution.png");
}
.rmdimportant {
  background-image: url("../images/important.png");
}
.rmdnote {
  background-image: url("../images/note.png");
}
.rmdtip {
  background-image: url("../images/tip.png");
}
.rmdwarning {
  background-image: url("../images/warning.png");
}
.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
.flushright {
  text-align: right;
}
blockquote > p:last-child {
  text-align: right;
}
blockquote > p:first-child {
  text-align: inherit;
}
.header-section-number {
  padding-right: .2em;
  font-weight: 500;
}
.level1 .header-section-number {
  display: inline-block;
  border-bottom: 3px solid;
}
.level1 h1 {
  border-bottom: 1px solid;
}
h2, h3, h4, h5, h6 {
  font-weight: normal;
}
.title {
  font-weight: 700;
}
.smallcaps {
  font-variant: small-caps;
}
.book .book-body .page-wrapper .page-inner .normal strong {
  font-weight: 600;
}


/* -----------div tips------------- */
/* https://desiree.rbind.io/post/2019/making-tip-boxes-with-bookdown-and-rmarkdown/#fn1 */
.note, .extra {
    margin: 0 0;
    padding-left: 10px;
    padding-right: 10px;
    background-size: 0;
    background-repeat: no-repeat;
    background-position: 0 center;
    min-height: 120px;
    /* color: #1f5386; */
    /* background-color: #CFDBC5; */
    border-radius: 10px;
    border: solid 5px #488214;
}

